form.details-form{
    /* Shape and position the form. */
    margin: 0px;
    padding: 10px 20px;
}

form.details-form label{
    color: black;
}

form.details-form label.input-label{

}

form.details-form label.input-description{
    
}