footer{
    /* Shape footer */
    padding: 10px;
    margin-top: -10px;
   
    /* Lighten the background slightly. */
    background-color: rgba(255, 255, 255, 0.8);
    /**/
    font-size: 3em;
    color: rgb(0, 0, 30);

    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer input.search-bar{
    background-color: rgba(255, 255, 255, 0.6);
    border: 0px;
    width: 90%; 
}

footer button {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 30);
    border: 2px rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 4px 10px;
    margin: 3px;
    align-items: center;
}

footer div{
    font-size: 0.4em;
    width: fit-content;
    margin: 4px auto;
}

footer select{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100px;
    color: rgb(0, 0, 30);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 4px 10px;
    align-items: center;
}

footer div.message{
    color: rgb(0, 0, 30);
    font-size: 0.3em;
}

footer div.small-links{
    display: flex;
    flex-direction: row;
}

footer div.small-links div.feedback{
    text-align: center;
    color: rgb(0, 0, 30);
    font-size: 0.8em;
    margin: 0px 5px
}

#dot {
  height: 15px;
  width: 15px;
  background-color: #11e26f;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  /*visibility: hidden;*/
}