/* Styles to handle the percentage wheel. */

/* wraps the full circle and sets the border radius. */

.circle-wrap {
    margin: 20px auto;
    width: 150px;
    height: 150px;
    background: #78e5dc3f;
    border-radius: 50%;
}

.circle-wrap .circle .mask, .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #11e26f;
}

.circle-wrap .circle .mask.full, .circle-wrap .circle .fill {
    animation: fill ease-in-out 2s;
    transform: rotate(126deg);
}

/* Image within circle. */

.circle-wrap img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    filter: brightness(50%);
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    background-image: url("../images/webcycle1.png");
}

/* Set up the inside of the circle with the percentage. */

.circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 3.5em;
}

/* Animate wheel. */

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(126deg);
    }
}



/*SMALL VERSION*/






.circle-wrap-small {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    background: #78e5dc3f;
    border-radius: 50%;
}

.circle-wrap-small .circle-small .mask-small, .circle-wrap-small .circle-small .fill-small {
    width: 100px;
    height: 100px;
    position: absolute;
    
    border-radius: 50%;
}

.circle-wrap-small .circle-small .mask-small {
    clip: rect(0px, 100px, 100px, 50px);
}

.circle-wrap-small .circle-small .mask-small .fill-small {
    clip: rect(0px, 50px, 100px, 0px);
    background-color: #11e26f;
}

.circle-wrap-small .circle-small .mask-full-small, .circle-wrap-small .circle-small .fill-small {
    animation: fill ease-in-out 2s;
    transform: rotate(126deg);
}

/* Image within circle. */

.circle-wrap-small img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    filter: brightness(50%);
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    align-items: center;
    background-image: url("../images/webcycle1.png");
}

/* Set up the inside of the circle with the percentage. */

.circle-wrap-small .inside-circle-small {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    line-height: 130px;
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    vertical-align: center;
    align-self: center;
    text-align: center;
    z-index: 100;
    font-weight: 700;
    font-size: 2.2em;
}
