body {
    margin: 0px;
    padding: 0px;
    width: 300px;
}

header {
    margin: 0px;
    padding: 0px 0px;
    font-size: 3em;
    color: white;
    background-color:  rgba(0, 0, 0, 0.8);
    filter: contrast(90%);
}
header p {
    margin: 0px;
    padding: 5px 0px;
    font-size: 0.5em;
    color: white;
    background-color: rgba(99, 98, 98, 0.281);
}


main div.EcoRating{
    display: flex;
    flex-direction: row;
    color: white;
    margin: 0px;
    padding: 5px 0px;
}

section {
    float: left;
    width: 100%;
	 margin-top:2em;
	 margin-bottom:2em;
}
section p {
    color:white;
    font-size: 2.5em;
    margin: 0px;
    padding: 0px 0px;
}
section button {
    background-color: #37c979;
    color: #78e5dc;
    font-size: 0.5em;
}
.rcorners {
    border-radius: 50px;
    border-color: #00000063;
    padding: 1px 30px;
    
}
.circle-wrap {
    margin: 30px auto;
    width: 150px;
    height: 150px;
    background: #78e5dc;
    border-radius: 50%;
  }
  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #11e26f;
  }
  
  .circle-wrap .circle .mask.full,
  .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(126deg);
  }
  .circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    filter: brightness(70%);
    background-image: url("../images/webcycle1.png");
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 3.5em;    
    color: #000000;
  }

@keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(126deg);
    }
  }






#location-display {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}




/* Noselect for text */

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}


/* Scrollbar Styles */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}


/* Percentage Card Styles. */

.percentage-card {
    color: white;
    margin: 10px auto;
    width: 200px;
    background: rgba(0, 0, 0, 0.6);
}

.percentage-card .card-header {
    text-align: center;
    font-size: 1.8em;
}

.percentage-card .card-percentage {
    text-align: center;
    font-size: 3em;
}

.percentage-card .card-footer {
    text-align: center;
    font-size: 1.4em;
}


/* Product Card Styles */

.product-card {
    color: white;
    margin: 10px auto;
    width: 200px;
    background: rgba(0, 0, 0, 0.6);
}

.product-card .product-title {
    font-size: 2em;
    text-align: center;
}

.product-card .product-image {
    width: 50%;
    border-radius: 20%;
}

.product-card .product-description {
    font-size: 1.2em;
}

.product-card .product-link {
    margin: 2px auto;
    padding: 4px;
    font-size: 1.6em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.product-card .product-link:hover {
    background-color: rgba(0, 0, 0, 0.6);
}